.list-header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.list-title {
  margin: 0;
  margin-right: 10px; /* Adjust as necessary to bring the button closer or further away */
}

.edit-button {
  margin: 0;
}
